<div class="container">
    <h2>Employee Table</h2>
  
    <div class="form">
      <input [(ngModel)]="newEmployee.name" placeholder="Name" />
      <input [(ngModel)]="newEmployee.emailId" placeholder="Email" />
      <input [(ngModel)]="newEmployee.mobile" placeholder="Mobile" />
      <input [(ngModel)]="newEmployee.country" placeholder="Contry" />

      <button (click)="addEmployee()">Add</button>
    </div>
  
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Contry</th>

        <th>Actions</th>
      </tr>
      <tr *ngFor="let emp of employees">
        <ng-container *ngIf="editingEmployee?.id !== emp.id; else editMode">
          <td>{{ emp.name }}</td>
          <td>{{ emp.emailId }}</td>
          <td>{{ emp.mobile }}</td>
          <td>{{ emp.country }}</td>
          <td class="butons">
            <button (click)="editEmployee(emp)">Edit</button>
            <button class="red-btn" (click)="deleteEmployee(emp.id)">Delete</button>
          </td>
        </ng-container>
        <ng-template #editMode>
            <ng-container *ngIf="editingEmployee">
              <td><input [(ngModel)]="editingEmployee.name" /></td>
              <td><input [(ngModel)]="editingEmployee.emailId" /></td>
              <td><input [(ngModel)]="editingEmployee.mobile" /></td>
              <td><input [(ngModel)]="editingEmployee.country" /></td>
              <td class="butons">
                <button class="update-btn" (click)="updateEmployee()">Update</button>
                <button class="update-btn" (click)="cancelEdit()">Cancel</button>
              </td>
            </ng-container>
          </ng-template>
          
      </tr>
    </table>
  </div>
  
  
