@media (max-width: 992px) {
  .form {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .form {
    grid-template-columns: 1fr;
  }
}


.container {
  position: relative;
  width: 1200px;
  height: auto;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  margin: 50px auto;
 
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  
  h2 {
    text-align: center;
  }
  
  .form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  input {
  caret-color: auto;
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  border-color: #c4c4c5;
  height: 20px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  }
  .butons{
    display: flex;
    justify-content: space-evenly;
  }
  .update-bnt{
    display: flex;
    justify-content: space-between;
  }
  button {
    color: white;
    margin-top: 2px;
    background: #1DA1F2;
    border-radius: 8px;
    border-color: #087cd5;
    height: 40px;
    width: 70px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #797a7b, -6px -6px 6px white;
    transition: 0.5s;
  }
  .red-btn{
    padding: 6px 12px;
    border: none;
    background: #f50606;
    color: white;
    border-radius: 8px;
    box-shadow: 6px 6px 6px #f34242, -6px -6px 6px white;
    cursor: pointer;

  }
  .update-bnt{
    padding: 6px 12px;
    border: none;
    background: #189927;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background: #0056b3;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background: #eee;
  }
  
